.container {
  background-color: white;
  padding: 50px 20px;
  width: 40%;
  min-width: 300px;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  box-shadow: 0 0 24px #d3d3d3;
  font-size: 1.1rem;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.form a {
  color: blue;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  border: 2px solid black;
  font-size: 1.1rem;
  outline: none;
  padding: 10px;
}

.form input:focus {
  border: 2px solid blue;
}

.form button {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  min-width: 50%;
  padding: 20px 50px;
  margin-top: 5px;
}

.form button:hover {
  opacity: 0.9;
}

.form input::placeholder {
  font-size: 0.9rem;
}

.signup {
  font-size: 1rem;
}

.error {
  background-color: tomato;
  color: white;
  font-size: 0.85rem;
  text-align: center;
  width: 80%;
  padding: 10px;
  animation: errorAnimation 0.5s;
}

@keyframes errorAnimation {
  0% {
    background-color: white;
  }

  100% {
    background-color: tomato;
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 100%;
    min-width: 0;
    max-width: none;
    padding: 0;
  }
  
  .form {
    box-shadow: none;
  }
}
