.header {
  background-color: var(--black);
  color: var(--white);
  min-height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.header h1 {
  cursor: pointer;
}

.header ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.header li:hover {
  background-color: var(--main-color);
}

.header a {
  padding: 20px;
  font-size: 1.25rem;
  color: var(--white);
  text-decoration: none;
}